.whosnext-text{
    font-family: 'Comic Sans MS', cursive, sans-serif !important;
}

.normal-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: 500 !important;
}
